.intro-section {
    height: 100vh;
    max-height: 105rem;

    background-image: linear-gradient(0deg, rgba(@colors[primary-dark], 0.3), rgba(@colors[primary-dark], 0.3)), url("../../assets/img/background-image.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 3.2rem;

    clip-path: polygon(0 0, 100% 0, 100% ~"calc(100% - 3.2rem)", ~"calc(100% - 12.8rem) 100%", 12.8rem 100%, 0 ~"calc(100% - 3.2rem)");

    @media (max-width: #pxToEm(1420)[]) {
        clip-path: polygon(0 0, 100% 0, 100% ~"calc(100% - 3.2rem)", ~"calc(100% - 6.4rem) 100%", 6.4rem 100%, 0 ~"calc(100% - 3.2rem)");
    }
    @media (max-width: #pxToEm(1280)[]) {
        clip-path: none;
    }

    &__content {
        width: 100%;
        max-width: @grid-width;

        color: @colors[white];

        text-align: center;
    }

    &__text {
        #display-12-grid();

        width: 100%;

        p {
            font-size: 2rem;
            line-height: 2.8rem;

            color: @colors[white];

            grid-column: 3 / span 8;

            #respond-tab-port({
                grid-column: 2 / span 10;
            });
            #respond-phone({
                grid-column: span 12;
            });
        }
    }

    &__icon {
        width: 4.304rem;
        height: 2.152rem;
        margin: 0 auto;

        animation: scaleIn .6s ease-out both;

        svg {
            width: 100%;
            height: 100%;
            fill: @colors[secondary];
        }
    }
}